.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  .header {
    padding: 0px 16px;
    .name {
      color: white;
      font-size: 20px;
    }
  }
  .sider {
    background-color: #ececec;
    border-right: solid 1px #e0e0e0;
    .menu {
      background: unset;
    }
  }
  .content {
    padding: 20px;
  }
}
